.carousel-container {
  overflow: auto;
  gap: 1rem;
  display: flex;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carousel-container::-webkit-scrollbar {
  display: none;
}

/* TODO: eliminar al agregar el componente de las cards */
.carousel-container div {
  height: 400px;
  min-width: 400px;
  background-color: blue;
}
