<div class="image-container">
  <div *ngFor="let image of userProfile.images">
    <img [src]="image" alt="notFound" />
  </div>

  <!-- prueba -->
  <div *ngFor="let image of userProfile.images">
    <img [src]="image" alt="notFound" />
  </div>
  <div *ngFor="let image of userProfile.images">
    <img [src]="image" alt="notFound" />
  </div>
  <div *ngFor="let image of userProfile.images">
    <img [src]="image" alt="notFound" />
  </div>
  <div *ngFor="let image of userProfile.images">
    <img [src]="image" alt="notFound" />
  </div>
  <div *ngFor="let image of userProfile.images">
    <img [src]="image" alt="notFound" />
  </div>
</div>
