.image-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0% 1%;
}

.image-container img {
  flex-basis: 25%;
  box-sizing: border-box;
  padding: 10px;
}

.image-container img:nth-child(even) {
  flex-basis: calc(25% + 30%);
}

.image-container img:nth-child(odd) {
  flex-basis: 25%;
}
