.profile-section {
  align-items: center;
  padding: 2% 3%;
}

.user-profile {
  display: flex;
  align-items: center;
}

.user-profile-image {
  width: 151px;
  height: 151px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-profile-data {
  text-align: left;
  margin-left: 10px;
}

.button-container {
  display: flex;
}

.user-profile-data h2 {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin-bottom: 0;
}

.user-profile-data p {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #000000;
}

.follow-button,
.message-button {
  padding: 10px 60px; /* Aumenta el ancho de los botones */
  font-size: 12px;
  margin-right: 10px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  line-height: 1;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  height: 52px;
  border-radius: 6px;
  border: 2px solid black;
}

.follow-button {
  background-color: black;
  color: white;
}

.message-button {
  background-color: white;
  color: black;

}
