<section class="chat">
  <div class="chat-header">
    <a routerLink="/chats">
      <i class="fa-solid fa-chevron-left chat-header-arrow"></i>
    </a>
    <h1 class="chat-header-title">{{ chat?.receiver?.userName }}</h1>
  </div>
  <div class="chat-messages">
    <app-message
      *ngFor="let message of chat?.messages"
      class="chat-message-in"
      [ngClass]="{
        'chat-message-out': message.direction === 'OUT'
      }"
      [message]="message"
      [user]="message.direction === 'IN' ? chat?.receiver : currentUser"
    />
  </div>
</section>
