<ul class="nav-items">
  <li>
    <a routerLink="/discover" routerLinkActive="active-option">
      <i class="fa-solid fa-house"></i>
      <span>Discover</span>
    </a>
  </li>
  <li>
    <a routerLink="/search" routerLinkActive="active-option">
      <i class="fa-solid fa-solid fa-magnifying-glass"></i>
      <span>Search</span>
    </a>
  </li>
  <li>
    <a routerLink="/upload-picture" routerLinkActive="active-option">
      <i class="fa-solid fa-plus"></i>
      <span>Upload Picture</span>
    </a>
  </li>
  <li>
    <a routerLink="/chat" routerLinkActive="active-option">
      <i class="fa-regular fa-comment"></i>
      <span>Chat</span>
    </a>
  </li>
  <li>
    <a routerLink="/profile" routerLinkActive="active-option">
      <i class="fa-solid fa-user"></i>
      <span>Profile</span>
    </a>
  </li>
</ul>
