.discover {
  padding: 1rem;
}

.discover-description {
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 900px) {
  .discover-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
